*{
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(lab(0% 0 0 / 0.705) , hwb(110 0% 0% / 0.294));
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section {
        background: url(stars1.png);

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    
    text-align: center;

}
ul:hover li a{
    opacity: 0;
}
ul li {
    list-style: none;
    margin: 5px 0;

}
ul li a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 400px;
    letter-spacing: 3px;
    background-color: #e0cfb4;
    border-radius: 40px ;
    display: inline-block;
    width: 120px;
    padding: 6px 30px;
    transition: 0.5s;
    z-index: 10;
    position: relative;
}
ul li a:hover{
    transform: scale(1.5) ;
    background-color: blueviolet;
    opacity: 1;
}
ul li::after{
    content:attr(data-text);
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 900;
    opacity: 0;
    pointer-events: none;
    letter-spacing: 100px;
    transition: 0.5s;
}
ul li:hover::after{
    opacity: 0.5;
    letter-spacing: 5px;
}
ul li::before{
    content:"" ;
    width: 130px;
    height: 80px;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,80%);
    border-radius: 50%;
    box-shadow: 0 0 90px yellow;
    opacity: 0;
    transition: 1s;
}
ul li:hover::before{
    opacity: 0.5;
    width: 80px;
}
.id::after{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 900;
    opacity: 0;
    pointer-events: none;
    letter-spacing: 100px;
    transition: 0.5s;

}
.id:hover::after{
 left: 50%;
    top: 50%;
    transform: translate(-50%,70%);
}
.id::before{
    content: "";
    width: 131px;
    height: 80px;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,80%);
    border-radius: 50%;
    box-shadow: 0 0 90px yellow;
    opacity: 0;
    transition: 0.5s;
}
.id:hover::before{
    left: 50%;
    top: 50%;
    transform: translate(-50%,90%);
    opacity: 0.5;

}